.header {
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

.header__left {
    display: flex;   
    align-items: center;
}
.header__logo {
    width: 5rem;
    object-fit: contain;
    margin-left: 10px;
}

.header__input {
    display: flex;   
    align-items: center;
    width: 40%;
    border: 1px solid #d3d3d3;
}
.header__input > input {
    flex: 1;
    border: none;
}
.header__input > input:focus {
    outline: none;
}
.header__inputButton{ 
    color: #808080;
    background: #fafafa;
    border-left: 1px solid #d3d3d3;
    width: 4rem !important;
}


.header__icons {
    display: flex;   
    align-items: center;
}
.header__icon {
    margin-right: 0.8rem;
}

@media only screen and (max-width: 768px) {
    .header__icon {
        margin-right: 0.4rem;
    }
    .header__input > input {
        width: 20px;
    }
  }